<% if @response == "sell" %>
    <div class="alert alert-block alert-success">
      <h4>Success!</h4>
      Sell listing successfully deleted.
    </div>
<% else %>
    <div class="alert alert-block alert-error">
      <h4>Error!</h4>
      Sell listing not deleted.
    </div>
<% end %>